
<div class="favorites">
  <h2 *ngIf="!favorites.length" >ADD YOUR FAVORITE ASSETS HERE BY CLICKING ON THEM</h2>
  <h2 *ngIf="favorites.length">FAVORITES </h2>
  <div class="fav-area">
    <div class="favorite" *ngFor="let item of favorites" >
      <div *ngIf="item <= 200">
        {{stocks[item].assetName}}{{stocks[item].id}}
        <br/>
        ${{stocks[item].price.toFixed(2)}}
        <br/>
        {{stocks[item].lastUpdate | date: 'mediumTime'}}
        <br>
        <span class="material-icons">stacked_line_chart</span>
      </div>
      <div *ngIf="item >200">
        {{currency[item].assetName}}{{currency[item].id}}
        <br/>
        ${{currency[item].price.toFixed(2)}}
        <br/>
        {{currency[item].lastUpdate | date: 'mediumTime'}}
        <br/>
        <span class="material-icons">attach_money</span>
      </div>
    </div>
  </div>
</div>
<div class="main-container">
  <h1>Stocks</h1>
  <h1>Currency</h1>

  <div class="asset-container">
    <table #table1 mat-table  [dataSource]="dataSourceStock" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="assetName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> assetName </th>
        <td mat-cell *matCellDef="let element"> {{element.assetName}}{{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> price </th>
        <td mat-cell *matCellDef="let element"> ${{element.price.toFixed(2)}} </td>
      </ng-container>

      <ng-container matColumnDef="lastUpdate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> lastUpdate </th>
        <td mat-cell *matCellDef="let element"> {{element.lastUpdate | date: 'mediumTime'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"  (click)="addFavorite(row.id)"></tr>
    </table>
  </div>

<div class="asset-container">

  <table #table2 mat-table  [dataSource]="dataSourceCurrency" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="assetName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> assetName </th>
      <td mat-cell *matCellDef="let element"> {{element.assetName}}{{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> price </th>
      <td mat-cell *matCellDef="let element"> ${{element.price.toFixed(2)}} </td>
    </ng-container>

    <ng-container matColumnDef="lastUpdate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> lastUpdate </th>
      <td mat-cell *matCellDef="let element"> {{element.lastUpdate | date: 'mediumTime'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"  (click)="addFavorite(row.id)"></tr>
  </table>
</div>

</div>

