html, body {
  font-family: 'Nunito', sans-serif;
  height: 100%;
  background-image: url('assets/cool-background.png');
  background-repeat: round;
  background-size: cover}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
.row {
  display: flex;
  flex-direction: row;
  .cell {
    font-size: 1.2em;
    margin: 10px auto;
    padding: 2px 4px;
  }
}

table {
  width: 100%;
}


th.mat-sort-header-sorted {
  color: black;
}
th {
  text-align: center;
}
